*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(46, 21, 21);
    color: #cda45e;
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    align-items: center;
}
.brand{
    display: flex;
    align-items: center;
}
.brand img{
    width: 60px;
    height: 60px;
    margin: 0 15px 0 15px;
}

.brand h2 {
    letter-spacing: 3px;
}

.nav-menu ul{
    display: grid;
    grid-template-columns: repeat(4,auto);
    justify-content: end;
    gap: 10px;
}

.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li a{
    text-decoration: none;
    color: rgb(19, 208, 117);
    padding: 15px;
    font-size: 10px;
}

.nav-menu ul li a:hover{
    background-color: blue;
    color: white;
    border-radius: 15px;

}

/* Hero image */
.hero-container{
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url('../images/hero-image.jpg') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
/* text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-text{
    font-size: 1cm;
    font-weight: bold;
}
.hero-text p a{
    text-decoration: none;
    color: white;
}

.btn{
    display: inline-block;
    padding: 20px 30px;
    background-color: #cda45e;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.signature{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
}

.signature-img{
    width: 100%;
}
.signature-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.menu-title{
    font-size: 3em;
    color: white;
}

.menu-about{
    margin: 30px 0;
    font-size: 1.3em;
}

.about{
    background-image: url('../images/home-about.jpg');
    background-position: center;
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;

    /* For text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 200px;

}
/* Special Menu */
.special{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 70px;
    column-gap: 50px;
}

.special-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.special-img{
    width:100%;
}